@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --notion-max-width: 896px;
    --text-gray-500: rgb(115 115 115);
    --border-radius: 16px;
}

.notion-app {
    font-family: 'DM Sans', sans-serif !important;
}

.notion-header,
.notion-page-icon-hero {
    display: none;
}

.notion-title {
    text-align: center;
}

.notion-page-content-inner .notion-h:first-child {
    text-align: center;
    width: 100%;
    color: var(--text-gray-500);
    margin-top: 0;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 1.2rem;
}

.notion-page-no-cover {
    margin-top: 0;
    padding-top: 0;
}

.notion-gallery-grid {
    border: 0;
}

.notion-gallery-grid {
    grid-template-rows: auto auto auto;
    gap: 36px;
}

.notion-gallery-grid .notion-collection-card:first-child {
    grid-column: 1 / -1;
    flex-direction: row;
    align-items: center;
    font-size: 1.875rem;
    gap: 36px;
    margin-bottom: 12px;
}

.notion-gallery-grid::before {
    content: 'Most recent';
    font-size: 1.4em;
    font-weight: 600;
    display: inline-block;
}

.notion-gallery-grid .notion-collection-card:nth-child(2)::before {
    content: 'Earlier articles';
    font-size: 1.4em;
    font-weight: 600;
    height: 64px;
}

.notion-gallery-grid .notion-collection-card:nth-child(3)::before {
    content: '';
    height: 64px;
}

.notion-gallery-grid:nth-child(2)::before {
    content: 'Most recent';
}

.notion-gallery-grid .notion-collection-card:first-child .notion-collection-card-cover {
    flex: 1
}

.notion-gallery-grid .notion-collection-card:first-child .notion-collection-card-body {
    flex: 1
}

.notion-collection-card-body {
    padding: 4px 0;
}

.notion-collection-card-body .notion-collection-card-property:nth-child(2) {
    font-size: 0.9rem;
}

notion-collection-card-body .notion-page-title-text {
    font-weight: 400 !important;
}

.notion-collection-card-body .notion-property-multi_select-item {
    background-color: rgba(0, 0, 0, 0.06);
    height: 24px;
    padding: 0px 12px;
    border-radius: 12px;
    color: rgb(125, 125, 125);
}

.notion-collection-card-cover {
    border-radius: var(--border-radius) !important;
    border: 0;
    will-change: transform;
    background-color: rgba(0, 0, 0, 0.02);
}

.notion-collection-card-cover img {
    color: transparent;
    z-index: 10;
    transition: opacity 3s ease-in-out, transform .5s ease-in-out;
    animation: fadein 3s;
}

.notion-collection-card:hover {
    background-color: transparent;
}

.notion-collection-card:hover .notion-collection-card-cover img {
    opacity: 1;
    transform: scale(1.05);
    filter: grayscale(0);
    transition: transform .5s ease-in-out;
}

.notion-gallery-grid .notion-collection-card {
    box-shadow: none;
}

.notion-property-title .notion-page-icon-image {
    display: none;
}

.notion-property-title { 
    font-size: 1.4rem;
}

.notion-page-title-text,
.notion-collection-card-property {
    white-space: pre-wrap !important;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper img {
    max-width: var(--notion-max-width) !important;
    max-height: none !important;
    height: auto !important;
    aspect-ratio: 16 / 9 !important;
    border-radius: var(--border-radius);
    margin-top: 16px;
}

@media (max-width: 640px) { 
    .notion-title {
        font-size: 2em;
    }

    .notion-gallery-grid .notion-collection-card:first-child {
        flex-direction: column;
    }

    .notion-gallery-grid .notion-collection-card:nth-child(3)::before {
        height: 0px;
    }

    .notion-page-cover-wrapper,
    .notion-page-cover-wrapper img {
        margin-top: 0;
        border-radius: 0;
    }
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}
